/* Estilos globais */
html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Arial", "Helvetica", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
  padding: 20px;
}

.main-container {
  flex: 1;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2e2e2e;
  color: #ffffff;
  padding: 1rem 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header img {
  width: 100px;
  transition: transform 0.3s ease;
}

header img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.navbar-nav {
  gap: 2rem;
  margin-right: 6%;
}

.nav-item {
  font-size: 1.25rem;
}

.nav-link {
  color: whitesmoke;
  transition: transform 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  color: #ff0000;
  transform: scale(1.1);
}

.navbar-brand img {
  height: 60px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

/* Banner */
.banner {
  margin-top: 100px;
}

.banner img {
  width: 100%;
  max-height: 700px;
  object-fit: cover;
  margin-bottom: 40px;
}

/* Títulos */
h2 {
  font-family: "Bebas Neue", sans-serif;
}

/* Cards */
.card {
  background-color: #1a1a1a;
  color: white;
  border: none;
  box-shadow: 0 4px 12px rgba(255, 255, 255, 0.05);
  margin-bottom: 30px;
  border-radius: 10px;
}

.card-header {
  padding: 1rem;
  background-color: transparent;
}

.card-header img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #fff;
}

.card-body {
  padding: 15px;
}

/* Agendamento */
.agendamento {
  margin: 60px auto;
  text-align: center;
  width: 80%;
}

.btn-danger {
  background-color: #e50914;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 30px;
  margin-top: 15px;
  transition: 0.3s;
  text-decoration: none;
  color: white;
}

.btn-danger:hover {
  background-color: #ff1f2c;
  transform: scale(1.05);
}

/* Serviços */
.servicos {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
  margin-left: 8.3%;
  margin-right: auto;
}

.servicos h2 {
  color: red;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}

.servicos img {
  max-width: 288px;
  max-height: 288px;
}

/* Fotos */
.fotos {
  width: 90%;
  margin: 50px auto;
}

.fotos img {
  width: 100%;
  border-radius: 10px;
}

/* Resumo */
.resumo {
  margin-top: 70px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
  line-height: 1.6;
  color: white;
}

/* Footer */
.g2-footer {
  background-color: #333333;
  padding: 20px 0;
  margin-top: 100px;
  width: 100%;
}

.g2-footer-content {
  text-align: center;
  color: #fff;
}

.g2-footer-content a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

.g2-footer-content a:hover {
  text-decoration: underline;
}
